<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Catering LLC | {{ title }}</title>
  </head>

  <body>
    <header>
      Catering LLC
      <a href="{{ url_for('index') }}">Home</a>

      {% if session["rank"] == 1 %}
        <a href="{{ url_for('register') }}">Add User</a>
      {% endif %}

      {% if "username" not in session %}
        <a href="{{ url_for('login') }}">Log In</a>
      {% else %}
        <a href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>
</html>
